
body {
    background: url('bg.jpg');
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}
.center_heading{
    text-align: center;
}

section.main {
    max-width: 520px;
    height: auto;
    background: rgba(0,0,0,.2);
    padding: 20px 40px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
}
a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.main { margin-top: 50px }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}


input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    min-width: 300px;
}
.result {
    max-width: 500px;
    background: rgba(255,255,255,0.5);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
.email {
    text-align: center;
    font-size: 18px;
    color: orange;
}
.tweet {
    padding: 5px;
    font-size: 20px;
    font-family: helvetica;
}
textarea.tweet {
    min-width: 300px;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 3px #333;
    border-radius: 5px;
    padding: 5px;
    min-height: 60px;
    text-align: center;
}
input.email {
    padding: 5px;
    clear: both;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px#333;
    min-width: 300px;
}
:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}
